
h1, h3 {
    text-align: center;
}

.plant-container {
    display: flex;
    flex-wrap: wrap;
}

.plant-container * {
    margin: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
}
